language: node_js
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - "10"
install:
  - npm install
  - ./fix-grpc-typing-bug
  - npm run download-envoy
script:
  - export PATH=./node_modules/.bin/:$PATH
  - npm run test:prod && npm run build
after_success:
  - npm run report-coverage
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run deploy-docs; fi
  - npm run semantic-release
